/* Styling for the chat bot */
.chatbot {
    background-color: white;
    border-left: 0px solid #EAEAEA;
 /*   min-width: 200px;
    max-width: 450px;*/
     width: 420px;
     height: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 490px;

}
.chat-colum{
  width: 420px;
  height: 400px; 
   
}

 

}
.yIdiomMod{
  outline: none;
  margin-top: 8px;
  width: 26px;
  height: 26px;
  
  box-sizing: border-box;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  transition: all .25s linear;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}.yIdiomMod:hover{
background-color: #fff;
opacity: .5;
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
.anaBanner {
  height: 48px;
  line-height: 48px;
 background: rgba(141,122,67,1);
background: -moz-linear-gradient(top, rgba(141,122,67,1) 0%, rgba(141,122,67,1) 10%, rgba(141,122,67,1) 35%, rgba(192,181,143,1) 73%, rgba(192,181,143,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(141,122,67,1)), color-stop(10%, rgba(141,122,67,1)), color-stop(35%, rgba(141,122,67,1)), color-stop(73%, rgba(192,181,143,1)), color-stop(100%, rgba(192,181,143,1)));
background: -webkit-linear-gradient(top, rgba(141,122,67,1) 0%, rgba(141,122,67,1) 10%, rgba(141,122,67,1) 35%, rgba(192,181,143,1) 73%, rgba(192,181,143,1) 100%);
background: -o-linear-gradient(top, rgba(141,122,67,1) 0%, rgba(141,122,67,1) 10%, rgba(141,122,67,1) 35%, rgba(192,181,143,1) 73%, rgba(192,181,143,1) 100%);
background: -ms-linear-gradient(top, rgba(141,122,67,1) 0%, rgba(141,122,67,1) 10%, rgba(141,122,67,1) 35%, rgba(192,181,143,1) 73%, rgba(192,181,143,1) 100%);
background: linear-gradient(to bottom, rgba(141,122,67,1) 0%, rgba(141,122,67,1) 10%, rgba(141,122,67,1) 35%, rgba(192,181,143,1) 73%, rgba(192,181,143,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d7a43', endColorstr='#c0b58f', GradientType=0 );
  vertical-align: middle;
  padding-left: 15px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.dialogcontainer {
    flex: 1;
    height: 100%;
    margin: 0;
    padding: 5px;
    background-attachment: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dialoginput {
    border: none;
    border-top: 2px solid #EAEAEA;
    border-bottom: 2px solid #EAEAEA;
    width: 60%;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    padding-left: 10px;
    color: #225282;
}

.message {
    margin-top: 0.5em;
    font-size: 13px;
    position: relative;
}



.ana {
    padding: 0.5em;
    border-radius: 5px;
    background-color: #F7F9F9;
    margin-left:60px;
    margin-right: 30%;
    margin-top: -18px;
    -webkit-align-self: flex-start;
    align-self: flex-start;
	-webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;

}

.ana:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 70px;
  border: 7px solid;
  border-color: transparent transparent #F7F9F9 transparent;
}

.anaTitle {
    margin-top: -90px;
    text-align: left;
    padding: 2em;
    font-weight: normal;
    color: #919FA8;
    margin-left: 40px;
}
.anaImage{
  background-image: url("../images/Operador_MABE.jpg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  text-align: left;
  padding: 2.5em;
}
.userTitle {
    text-align: left;
    padding: 0.5em;
    font-weight: normal;
    color: #919FA8;
    margin-top: -65px;
    margin-left: 30px;
}
.userImage{
   padding: 2.5em;
   margin-left: 82%;
   background-image: url("../images/Usuario_MABE.png");
   background-repeat: no-repeat;
}
.user {
    padding: 0.5em;
    border-radius: 5px;
    background-color: #EEF2FA;
    margin-right: 75px;
    margin-left: 30%;
    margin-top: -10px
    padding-bottom:80px;
   
}

.user:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 480px;
  top: 50px;
  border: 7px solid;
  border-color: transparent transparent #EEF2FA transparent;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-msie-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .containerPanelChat{
  width: 420px;
  height:400px;
  margin-left: 520px;
}
 }
.containerPanel{
  padding: 10px 20px;
  background-color: white;
  box-sizing: border-box;
}
.containerPanelChat{
  width: 420px;
  height:400px;
}
.containerPanelChatCenter{
  margin:auto;
  margin-top: 0%;
}